body{
    text-align: center;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

input, button{
    width: 200px;
    height: 25px;
    margin-top: 10px;
}

.Content{
    float: left;
    margin-left: 300px;
    width: 70%;
    min-height: 600px;
    text-align: left;
    position: absolute;
}

#LeftMenuBar{
    float: left;
}